footer.flex{
    justify-content: space-between;
    padding-bottom: 1.9rem;
}
footer.flex ul.flex{
    gap: 1rem;
}
footer.flex ul.flex a{
    color: var(--subtitle);
    font-size: 0.9rem;
}
footer.flex ul.flex a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}
footer.flex p{
    color: rgb(113 113 122);
}


::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    border: 7px solid var(--bgheader);
    border-radius:4px;
    background-color: var(--icon-hover);
}
::-webkit-scrollbar-thumb{
    background: var(--subtitle);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: #666;
}


@media (max-width: 800px) {
    footer.flex{
        flex-direction: column;
        gap: 2rem;
    }
}











